<template>
  <header class="h-16 flex items-center">
    <div class="container mx-auto flex justify-between items-center">
      <NuxtLink to="/" class="flex items-center gap-x-3">
        <NuxtImg src="/assets/img/site-logo.png" width="35" />
        <p class="font-semibold text-2xl">Baze UI</p>
      </NuxtLink>
    </div>
  </header>
</template>
