<template>
  <header
    class="h-14 z-30 flex items-center text-white bg-orange-500 shadow-xl fixed left-0 top-0 right-0"
  >
    <div class="container mx-auto flex justify-between items-center">
      <button
        class="absolute left-0 top-0 bg-black h-14 w-16 lg:hidden"
        @click="toggleFunc()"
      >
        <Icon size="30" name="iconamoon:menu-burger-horizontal-bold" />
      </button>
      <NuxtLink
        to="/"
        class="font-bold flex-1 tracking-wider text-2xl flex items-center gap-x-4 pl-10 sm:pl-0"
      >
        <NuxtImg src="/assets/img/site-logo.png" width="35" />
        <p>Suitbaze</p>
      </NuxtLink>
      <NuxtLink
        target="_blank"
        to="https://github.com/suitmedia/generator-suit-baze"
      >
        <Icon name="uil:github" color="white" size="30" />
      </NuxtLink>
    </div>
  </header>
  <Sidenav />
</template>

<script setup>
import { useToggleSidebar } from '../../store/global'
const toggler = useToggleSidebar()
const toggleFunc = toggler.toggle
</script>
