<template>
  <div>
    <h1 class="h1-title">Api</h1>
    <div class="flex flex-col my-4 gap-y-3">
      <input
        v-model="namePokemon"
        type="text"
        placeholder="Pokemon Name"
        class="w-full px-3 py-1.5 outline-none border-2 border-orange-500"
      />
      <select v-model="typeSelected" class="py-1.5 px-2 border-2 outline-none border-orange-500 focus:border-orange-700">
        <option value="" selected>All Type</option>
        <option v-for="item in uniqueType" :key="item">{{ item }}</option>
      </select>
    </div>
    <div
      class="grid 2xl:grid-cols-5 xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-6"
    >
      <PokemonCard
        v-for="item in mappedData"
        :key="item.id"
        :name="item.name"
        :url="item.img"
        :type="item.type"
      />
      {{ typeSelected }}
    </div>
  </div>
</template>
<script setup>
definePageMeta({
  layout: 'custom'
})
const namePokemon = ref('')

const { data } = await useFetch(
  `https://pokeapi.co/api/v2/pokemon?offset=0&limit=100"`
)
const typeSelected = ref('')
const results = data.value.results
const fetchAll = results.map(el => el.url)
const allData = await Promise.all(fetchAll.map(el => $fetch(el)))
const mappedData = ref(
  allData.map(el => {
    return {
      name: el.name,
      img: el.sprites.front_default,
      type: el.types.map(el => el.type.name)
    }
  })
)
const loadedData = mappedData.value

const allType = mappedData.value.map(el => el.type).flat()
const uniqueType = [...new Set(allType)]

watch(namePokemon, (newVal, oldVal) => {
  if (newVal) {
    mappedData.value = loadedData.filter(el => el.name.includes(newVal))
  } else {
    mappedData.value = loadedData
  }
})

watch(typeSelected, (newVal, oldVal) => {
  if (newVal) {
    mappedData.value = loadedData.filter(el => el.type.includes(newVal))
  } else {
    mappedData.value = loadedData
  }
})
</script>
