<template>
  <div>
    <h1 class="h1-title">Lists</h1>
    <ul class="pl-7">
      <li>
        <h2 class="font-bold my-5 text-xl">Ordered List</h2>
        <div class="mb-5">
          <ol class="list-decimal pl-7">
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li>
              Incidunt magni consequatur adipisci officiis vero placeat
              consectetur
            </li>
            <li>
              id facere,
              <ol type="a">
                <li>molestiae in,</li>
                <li>ducimus necessitatibus hic ad esse consequuntur</li>
              </ol>
            </li>
            <li>dignissimos sequi illum doloremque.</li>
          </ol>
        </div>
        <div>
          <Block>
            <pre><code>{{`<ol>
  <li>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </li>
  <li>
    Incidunt magni consequatur adipisci officiis vero placeat
    consectetur
  </li>
  <li>
    id facere,
    <ol type="a">
      <li>molestiae in,</li>
      <li>ducimus necessitatibus hic ad esse consequuntur</li>
    </ol>
  </li>
  <li>dignissimos sequi illum doloremque.</li>
</ol>`}}
</code></pre>
          </Block>
        </div>
      </li>
      <li>
        <h2>Unordered List</h2>
        <code v-html="highlightedCode"></code>
      </li>
    </ul>
  </div>
</template>
<script setup>
definePageMeta({
  layout: 'custom'
})
</script>
