@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Fira Mono', monospace;
}

@layer utilities {
  // txt color
  .text-blue {
    @apply text-blue-500;
  }
  .text-dark-grey {
    @apply text-gray-700;
  }
  .text-primary {
    @apply text-orange-500;
  }
  .text-red {
    @apply text-red-500;
  }
  .text-grey {
    @apply text-gray-500;
  }
  .text-light-grey {
    @apply text-gray-200;
  }

  // bg color
  .bg-blue {
    @apply bg-blue-500;
  }
  .bg-dark-grey {
    @apply bg-gray-700;
  }
  .bg-primary {
    @apply bg-orange-500;
  }
  .bg-red {
    @apply bg-red-500;
  }
  .bg-grey {
    @apply bg-gray-500;
  }
  .bg-light-grey {
    @apply bg-gray-200;
  }

  // dark text color
  .text-black10 {
    @apply text-stone-200;
  }
  .text-black20 {
    @apply text-stone-300;
  }
  .text-black30 {
    @apply text-stone-400;
  }
  .text-black40 {
    @apply text-stone-500;
  }
  .text-black50 {
    @apply text-stone-600;
  }
  .text-black60 {
    @apply text-stone-700;
  }
  .text-black70 {
    @apply text-stone-800;
  }
  .text-black80 {
    @apply text-stone-900;
  }
  .text-black90 {
    @apply text-stone-950;
  }

  // link color
  .link-blue {
    @apply text-blue-500;
  }

  .link-dark-grey {
    @apply text-gray-700;
  }

  .link-primary {
    @apply text-orange-500;
  }

  .link-red {
    @apply text-red-500;
  }
  .link-black {
    @apply text-black;
  }
  .link-grey {
    @apply text-gray-500;
  }
  .link-light-grey {
    @apply text-gray-200;
  }
}
@layer components {
  .line-border {
    @apply border-t-2 border-t-gray-300/50;
  }
  .h1-title {
    @apply text-orange-500 font-bold text-4xl tracking-wide;
  }

  // bz-icons
}
