<template>
  <div>
    <h1 class="h1-title">Buttons</h1>
    <main class="flex flex-col gap-y-5 mt-7">
      <div id="btn-container-1" class="flex flex-col gap-y-3">
        <div>
          <button class="btn btn--primary">Button Color</button>
          <button class="btn btn--ghost-primary">Button Color</button>
          <button class="btn btn--flat-primary">Button Color</button>
        </div>
        <div>
          <button class="btn btn--secondary">Button Color</button>
          <button class="btn btn--ghost-secondary">Button Color</button>
          <button class="btn btn--flat-secondary">Button Color</button>
        </div>
        <div>
          <button class="btn btn--warning">Button Color</button>
          <button class="btn btn--ghost-warning">Button Color</button>
          <button class="btn btn--flat-warning">Button Color</button>
        </div>
        <div>
          <button class="btn btn--danger">Button Color</button>
          <button class="btn btn--ghost-danger">Button Color</button>
          <button class="btn btn--flat-danger">Button Color</button>
        </div>
        <div>
          <button class="btn btn--black">Button Color</button>
          <button class="btn btn--ghost-black">Button Color</button>
          <button class="btn btn--flat-black">Button Color</button>
        </div>
        <div>
          <button class="btn btn--light-grey">Button Color</button>
          <button class="btn btn--ghost-light-grey">Button Color</button>
          <button class="btn btn--flat-light-grey">Button Color</button>
        </div>
        <div>
          <button class="btn btn--white">Button Color</button>
          <button class="btn btn--ghost-white">Button Color</button>
          <button class="btn btn--flat-white">Button Color</button>
        </div>
      </div>
      <Block>
        <pre><code>{{ `<p>
    <button class="btn--primary">Button Color</button>
    <button class="btn--ghost-primary">Button Color</button>
    <button class="btn--flat-primary">Button Color</button>
</p>
<p>
    <button class="btn--secondary">Button Color</button>
    <button class="btn--ghost-secondary">Button Color</button>
    <button class="btn--flat-secondary">Button Color</button>
</p>
<p>
    <button class="btn--warning">Button Color</button>
    <button class="btn--ghost-warning">Button Color</button>
    <button class="btn--flat-warning">Button Color</button>
</p>
<p>
    <button class="btn--danger">Button Color</button>
    <button class="btn--ghost-danger">Button Color</button>
    <button class="btn--flat-danger">Button Color</button>
</p>
<p>
    <button class="btn--black">Button Color</button>
    <button class="btn--ghost-black">Button Color</button>
    <button class="btn--flat-black">Button Color</button>
</p>
<p>
    <button class="btn--light-grey">Button Color</button>
    <button class="btn--ghost-light-grey">Button Color</button>
    <button class="btn--flat-light-grey">Button Color</button>
</p>
<p>
    <button class="btn--white">Button Color</button>
    <button class="btn--ghost-white">Button Color</button>
    <button class="btn--flat-white">Button Color</button>
</p>` }}</code></pre>
      </Block>
    </main>
  </div>
</template>
<script setup>
definePageMeta({
  layout: 'custom'
})
</script>
<style scoped lang="postcss">
  .btn{

  }

  #btn-container-1 div{
    @apply flex gap-x-2 items-center
  }
</style>
