<template>
  <div>
    <h1 class="h1-title">Tabs</h1>
    <main class="flex flex-col gap-y-5 mt-7">
      <section class="flex flex-col gap-y-3">
        <div class="px-5">
          <ul class="tabs__bar js-tabs">
            <li :class="tab1ActiveIndex === 0 ? 'is-active' : ''" class="tabs__nav js-tabs-link" data-control="#item1" @click="()=>tab1ActiveIndex = 0">
              TAB 1
            </li>
            <li :class="tab1ActiveIndex === 1 ? 'is-active' : ''" class="tabs__nav js-tabs-link" data-control="#item2" @click="()=>tab1ActiveIndex = 1">TAB 2</li>
            <li :class="tab1ActiveIndex === 2 ? 'is-active' : ''" class="tabs__nav js-tabs-link" data-control="#item3" @click="()=>tab1ActiveIndex = 2">TAB 3</li>
            <li :class="tab1ActiveIndex === 3 ? 'is-active' : ''" class="tabs__nav js-tabs-link" data-control="#item4" @click="()=>tab1ActiveIndex = 3">TAB 4</li>
          </ul>
          <div class="tabs__content">
            <div v-if="tab1ActiveIndex === 0" id="item1" class="tabs__item js-tabs-item">
              Item 1
            </div>
            <div v-if="tab1ActiveIndex === 1" id="item2" class="tabs__item js-tabs-item">Item 2</div>
            <div v-if="tab1ActiveIndex === 2" id="item3" class="tabs__item js-tabs-item">Item 3</div>
            <div v-if="tab1ActiveIndex === 3" id="item4" class="tabs__item js-tabs-item">Item 4</div>
          </div>
        </div>
        <Block>
          <pre><code>{{ `<ul class="tabs__bar js-tabs">
    <li class="tabs__nav js-tabs-link is-active" data-control="#item1">
      TAB 1
    </li>
    <li class="tabs__nav js-tabs-link" data-control="#item2">TAB 2</li>
    <li class="tabs__nav js-tabs-link" data-control="#item3">TAB 3</li>
    <li class="tabs__nav js-tabs-link" data-control="#item4">TAB 4</li>
  </ul>
  <div class="tabs__content">
    <div id="item1" class="tabs__item js-tabs-item is-active">
      Item 1
    </div>
    <div id="item2" class="tabs__item js-tabs-item">Item 2</div>
    <div id="item3" class="tabs__item js-tabs-item">Item 3</div>
    <div id="item4" class="tabs__item js-tabs-item">Item 4</div>
  </div>
</div>` }}</code></pre>
        </Block>
      </section>
      <section class="flex flex-col gap-y-3">
        <div class="pl-5">
          <ul class="tabs__bar--justify js-tabs">
          <li
          :class="tab2ActiveIndex === 0 ? 'is-active' : ''" 
            class="tabs__nav js-tabs-link"
            data-control="#justified1"
            @click="()=>tab2ActiveIndex = 0"
          >
            TAB 1
          </li>
          <li :class="tab2ActiveIndex === 1 ? 'is-active' : ''"  class="tabs__nav js-tabs-link" data-control="#justified2"  @click="()=>tab2ActiveIndex = 1">
            TAB 2
          </li>
          <li :class="tab2ActiveIndex === 2 ? 'is-active' : ''"  class="tabs__nav js-tabs-link" data-control="#justified3"  @click="()=>tab2ActiveIndex = 2">
            TAB 3
          </li>
          <li :class="tab2ActiveIndex === 3 ? 'is-active' : ''"  class="tabs__nav js-tabs-link" data-control="#justified4"  @click="()=>tab2ActiveIndex = 3">
            TAB 4
          </li>
        </ul>
        <div class="tabs__content">
          <div v-if="tab2ActiveIndex === 0" id="justified1" class="tabs__item js-tabs-item">
            Item 1
          </div>
          <div  v-if="tab2ActiveIndex === 1" id="justified2" class="tabs__item js-tabs-item">Item 2</div>
          <div  v-if="tab2ActiveIndex === 2" id="justified3" class="tabs__item js-tabs-item">Item 3</div>
          <div  v-if="tab2ActiveIndex === 3" id="justified4" class="tabs__item js-tabs-item">Item 4</div>
        </div>
        </div>
        <Block>
          <pre><code>{{ `<ul class="tabs__bar--justify js-tabs">
  <li
    class="tabs__nav js-tabs-link is-active"
    data-control="#justified1"
  >
    TAB 1
  </li>
  <li class="tabs__nav js-tabs-link" data-control="#justified2">
    TAB 2
  </li>
  <li class="tabs__nav js-tabs-link" data-control="#justified3">
    TAB 3
  </li>
  <li class="tabs__nav js-tabs-link" data-control="#justified4">
    TAB 4
  </li>
</ul>
<div class="tabs__content">
  <div id="justified1" class="tabs__item js-tabs-item is-active">
    Item 1
  </div>
  <div id="justified2" class="tabs__item js-tabs-item">Item 2</div>
  <div id="justified3" class="tabs__item js-tabs-item">Item 3</div>
  <div id="justified4" class="tabs__item js-tabs-item">Item 4</div>
</div>` }}</code></pre>
        </Block>
      </section>
    </main>
  </div>
</template>
<script setup>
definePageMeta({
  layout: 'custom'
})

const tab1ActiveIndex = ref(0)
const tab2ActiveIndex = ref(0)
</script>

<style scoped lang="postcss">
  .js-tabs{
    @apply flex
  }
  .js-tabs li{
    @apply cursor-pointer
  }
  .tabs__nav{
    @apply px-3 py-5 border-b-4 border-transparent
  }
  .tabs__nav.is-active{
    @apply text-orange-500 border-b-orange-500
  }
  .tabs__nav:hover{
    @apply bg-gray-200
  }
  .tabs__bar--justify{
    @apply flex
  }
  .tabs__bar--justify li{
    @apply flex-1 text-center
  }
</style>