<template>
  <div>
    <h1 class="h1-title">Heading</h1>
    <div class="flex flex-col gap-y-5 mt-5">
      <span class="text-6xl font-bold">Heading</span>
      <span class="text-5xl font-bold">Heading</span>
      <span class="text-4xl font-bold">Heading</span>
      <span class="text-3xl font-bold">Heading</span>
      <span class="text-2xl font-bold">Heading</span>
      <span class="text-xl font-bold">Heading</span>
    </div>
    <Block class="mt-5">
      <code>
        {{ `
        <h1>Heading 1</h1>
        ` }}
      </code>
      <code>
        {{ `
        <h2>Heading 2</h2>
        ` }}
      </code>

      <code>
        {{ `
        <h3>Heading 3</h3>
        ` }}
      </code>
      <code>
        {{ `
        <h4>Heading 4</h4>
        ` }}
      </code>
      <code>
        {{ `
        <h5>Heading 5</h5>
        ` }}
      </code>
      <code>
        {{ `
        <h6>Heading 6</h6>
        ` }}
      </code>
    </Block>
    <h1 class="text-orange-500 font-bold text-4xl tracking-wide mt-5">
      Heading Style
    </h1>
    <div class="flex flex-col gap-y-5 mt-5">
      <p class="h1 text-6xl">Text size adjust h1</p>
      <p class="h2 text-5xl">Text size adjust h2</p>
      <p class="h3 text-4xl">Text size adjust h3</p>
      <p class="h4 text-3xl">Text size adjust h4</p>
      <p class="h5 text-2xl">Text size adjust h5</p>
      <p class="h6 text-xl">Text size adjust h6</p>
    </div>
    <Block class="mt-5">
      <div>
        {{ `
        <p class="h1">Text size adjust h1</p>
        ` }}
      </div>
      <div>
        {{ `
        <p class="h2">Text size adjust h2</p>
        ` }}
      </div>
      <div>
        {{ `
        <p class="h3">Text size adjust h3</p>
        ` }}
      </div>
      <div>
        {{ `
        <p class="h4">Text size adjust h4</p>
        ` }}
      </div>
      <div>
        {{ `
        <p class="h5">Text size adjust h5</p>
        ` }}
      </div>
      <div>
        {{ `
        <p class="h6">Text size adjust h6</p>
        ` }}
      </div>
    </Block>
  </div>
</template>
<script setup>
definePageMeta({
  layout: 'custom'
})
</script>
<style setup>
code {
  display: block;
}
</style>
