<template>
  <div class="bg-gray-200 w-full max-w-3xl px-2 py-1.5">
    <code class="">{{ text }}</code>
  </div>
</template>
<script setup>
defineProps({
  // eslint-disable-next-line vue/require-default-prop
  text: String
})
</script>
