<template>
  <article class="bg-slate-200">
    <figure class="px-3 py-4">
      <NuxtImg :src="url" width="100" class="object-cover block mx-auto" />
      <p class="text-xl font-bold capitalize">{{ name }}</p>
    </figure>
    <div class="bg-gray-300 py-2 px-4">
      <p>Type</p>
      <div class="flex items-center gap-x-2 mt-3">
        <span v-for="(item, index) in type" :key="index" class="px-2 py-0.3 border-[0.2px] border-black/75">{{ item }}</span>
      </div>
    </div>
  </article>
</template>
<script setup>
defineProps({
  name: {
    default: '',
    type: String
  },
  url: {
    default: '/apple-icon.png',
    type: String
  },
  type: {
    type: Array,
    default: () => []
  }
})
</script>
