<!-- eslint-disable no-console -->
<template>
  <aside
    id="sidenav"
    class="fixed left-0 -translate-x-full bg-white lg:translate-x-0 sm z-10 border-r-[1px]  transition-all duration-500 h-screen border-gray-400/50 overflow-y-scroll"
    :class="isToggled ? 'translate-x-0' : '-translate-x-full '"
  >
    {{ isToggled }}
    <ul class="flex flex-col pt-3 gap-y-2 pb-7 mt-12 bg-white">
      <li v-for="(item, index) in arrLink" :key="index" class="w-full">
        <NuxtLink
          class="w-48 px-6 py-2 hover:text-orange-500 block"
          :to="item.url"
          >{{ item.link }}</NuxtLink
        >
      </li>
    </ul>
  </aside>
</template>
<script setup>
import { storeToRefs } from 'pinia'
import * as data from '../data/route-nav.json'
import { useToggleSidebar } from '../store/global'
const toggler = useToggleSidebar()
const { isToggled } = storeToRefs(toggler)
const arrLink = data.data
</script>

<style scoped>
.link-active.router-link-exact-active {
  background-color: rgb(228, 235, 236);
  font-weight: bold;
  color: black;
}
#sidenav {
  font-family: 'Open Sans', sans-serif;
}
#sidenav::-webkit-scrollbar {
  width: 5px;
}
#sidenav::-webkit-scrollbar-thumb {
  visibility: hidden;
}
#sidenav:hover::-webkit-scrollbar-thumb {
  visibility: visible;
  background-color: gainsboro;
}
#sidenav::-webkit-scrollbar-thumb:hover {
  background-color: rgb(170, 165, 165);
}
</style>
