<template>
  <div class="my-10">
    <h3 class="text-2xl text-center font-bold mb-4">Swiperjs</h3>
    <Swiper
      :modules="[SwiperMousewheel]"
      :slides-per-view="`auto`"
      :mousewheel="true"
      :direction="`vertical`"
    >
      <SwiperSlide
        v-for="(slide, index) in slider"
        :key="index"
        class="!flex timeline py-8 px-[10px]"
      >
        <div class="w-1/5 year">{{ slide.year }}</div>
        <div class="w-2/5 my-auto">
          <img :src="slide.photo" alt="Swiper Photo" />
        </div>
        <div class="w-2/5 my-auto">
          <div v-for="(item, idx) in slide.desc" :key="idx" class="flex mb-2">
            <div class="text-orange-500 mr-2">{{ item.month }}</div>
            <div>{{ item.title }}</div>
          </div>
        </div>
      </SwiperSlide>
    </Swiper>
  </div>
</template>

<script setup>
let slider = ref([])

slider = [
  {
    year: 2017,
    photo: '/assets/img/woman-selecting-pictures-people 1.png',
    desc: [
      {
        month: 'Jan',
        title: 'Powered by 213 team members (95% SM Technology)'
      },
      {
        month: 'Feb',
        title: 'Initiated Malang Office for SM Technology'
      }
    ]
  },
  {
    year: 2018,
    photo: '/assets/img/woman-selecting-pictures-people 1.png',
    desc: [
      {
        month: 'Jan',
        title: 'Powered by 213 team members (95% SM Technology)'
      },
      {
        month: 'Feb',
        title: 'Initiated Malang Office for SM Technology'
      },
      {
        month: 'Des',
        title: 'Achieved annual revenue growth'
      }
    ]
  },
  {
    year: 2019,
    photo: '/assets/img/woman-selecting-pictures-people 1.png',
    desc: [
      {
        month: 'Jan',
        title: 'Powered by 213 team members (95% SM Technology)'
      },
      {
        month: 'Feb',
        title: 'Initiated Malang Office for SM Technology'
      },
      {
        month: 'Des',
        title: 'Achieved annual revenue growth'
      }
    ]
  },
  {
    year: 2020,
    photo: '/assets/img/woman-selecting-pictures-people 1.png',
    desc: [
      {
        month: 'Jan',
        title: 'Powered by 213 team members (95% SM Technology)'
      },
      {
        month: 'Feb',
        title: 'Initiated Malang Office for SM Technology'
      }
    ]
  },
  {
    year: 2021,
    photo: '/assets/img/woman-selecting-pictures-people 1.png',
    desc: [
      {
        month: 'Jan',
        title: 'Powered by 213 team members (95% SM Technology)'
      },
      {
        month: 'Feb',
        title: 'Initiated Malang Office for SM Technology'
      },
      {
        month: 'Des',
        title: 'Achieved annual revenue growth'
      }
    ]
  },
  {
    year: 2022,
    photo: '/assets/img/woman-selecting-pictures-people 1.png',
    desc: [
      {
        month: 'Jan',
        title: 'Powered by 213 team members (95% SM Technology)'
      },
      {
        month: 'Feb',
        title: 'Initiated Malang Office for SM Technology'
      }
    ]
  }
]
</script>

<style scoped>
:deep(.swiper) {
  border-top: 1px solid #bbbbbb;
}
:deep(.swiper-wrapper) {
  height: 50vh;
}
:deep(.swiper-slide) {
  min-height: 200px;
  height: auto;
}
/* :deep(.swiper-slide) {
  max-height: 80%;
}

:deep(.swiper-slide):nth-child(2n) {
  max-height: 60%;
}

:deep(.swiper-slide):nth-child(3n) {
  max-height: 40%;
} */

.timeline {
  position: relative;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: #bbbbbb;
  top: 0;
  bottom: 0;
  left: 78px;
}

.year {
  position: relative;
}
.year::after {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  left: 57px;
  background-color: #ff6700;
  border: 6px solid #fee0cc;
  border-radius: 50%;
  z-index: 1;
}
</style>
