<template>
  <div class="my-10">
    <h3 class="text-2xl font-semibold text-center">Vue3 Chartjs</h3>
    <div class="flex">
      <div class="bar-chart w-1/2">
        <Bar :data="chartData" :options="chartOptions" />
      </div>
      <div class="pie-chart w-1/2">
        <Pie :data="chartDataPie" :options="chartOptions" />
      </div>
    </div>
  </div>
</template>
<script setup>
import { Bar, Pie } from 'vue-chartjs'
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale,
  ArcElement
} from 'chart.js'

ChartJS.register(
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale,
  ArcElement
)

const chartData = ref({
  labels: ['January', 'February', 'March', 'April', 'May'],
  datasets: [
    {
      label: 'Data One',
      backgroundColor: '#f87979',
      data: [40, 20, 12, 50, 10]
    },
    {
      label: 'Data Two',
      backgroundColor: '#381379',
      data: [50, 11, 30, 22, 27]
    }
  ]
})

const chartDataPie = ref({
  labels: ['VueJs', 'EmberJs', 'ReactJs', 'AngularJs'],
  datasets: [
    {
      backgroundColor: ['#41B883', '#E46651', '#00D8FF', '#DD1B16'],
      data: [40, 20, 80, 10]
    }
  ]
})

const chartOptions = ref({
  responsive: true,
  maintainAspectRatio: false
})
</script>
