<template>
  <div class="my-4 mt-10 p-6 border-[2px] border-green-700 rounded">
    <h3 class="text-center font-semibold text-2xl">Vue Select</h3>

    <div class="my-4">
      <v-select v-model="statusDefault" label="statusName" :options="options">
        <template #header>
          Default Vue Select (You can type to search)
        </template>
      </v-select>
    </div>

    <div class="green my-4">
      <v-select
        v-model="status"
        :options="options"
        label="statusName"
        multiple
        :reduce="status => status.statusCode"
      >
        <template #header>Vue Select Custom CSS & Styling</template>
        <!-- <template #no-options>No Options Found</template> -->
        <template #no-options="{ search, searching }">
          <template v-if="searching">
            No results found for <em>{{ search }}</em
            >.
          </template>
        </template>
        <template #option="option">
          <span>{{ option.statusCode }}</span>
          <span>-</span>
          <span>{{ option.statusName }}</span>
        </template>
      </v-select>
    </div>

    <div class="my-4 store">
      <v-select
        v-model="status2"
        label="statusName"
        :options="options"
        @update:model-value="storeStatus"
      >
        <template #header>
          Vue Select: Do something when value/v-model changes
        </template>
      </v-select>
    </div>

    <div class="my-4 search">
      <v-select
        v-model="statusSearch"
        label="statusName"
        :options="options"
        @search="onSearchStatus"
      >
        <template #header>
          Vue Select: Do something on search (check console log)
        </template>
      </v-select>
    </div>
  </div>
</template>

<script setup>
import { useSelectStore } from '~~/store/vselectStore'

const select = useSelectStore()
const status = ref('')
const status2 = ref('')
const statusDefault = ref('')
const statusSearch = ref('')
let options = ref([])

options = [
  {
    statusCode: 'TI',
    statusName: 'Testing'
  },
  {
    statusCode: 'DE',
    statusName: 'Done'
  },
  {
    statusCode: 'WT',
    statusName: 'Waiting'
  },
  {
    statusCode: 'IMP',
    statusName: 'Implemented'
  }
]

const storeStatus = () => {
  /*
		Update & Store status to pinia
	*/
  select.updateStatus({
    status: status2.value.statusName,
    code: status2.value.statusCode
  })
}

const onSearchStatus = (search, loading) => {}
</script>

<style lang="scss" scoped>
.green {
  :deep(.vs__search::placeholder),
  :deep(.vs__dropdown-toggle),
  :deep(.vs__dropdown-menu) {
    background: #188e6f;
    border: none;
    color: #dcdcdf;
    text-transform: lowercase;
    font-variant: small-caps;
  }

  :deep(.vs__selected) {
    background: #b86c3c;
    color: white;
  }

  :deep(.vs__clear),
  :deep(.vs__open-indicator) {
    fill: #dcdcdf;
  }
}
// input[type='text'] {
//   padding: 10px;

//   background: linear-gradient(#000, #000), linear-gradient(#000, #000),
//     linear-gradient(#000, #000);
//   background-size: 1px 20%, 100% 1px, 1px 20%;
//   background-position: bottom left, bottom center, bottom right;
//   background-repeat: no-repeat;

//   border: none;
//   color: #999;

//   &:focus-visible {
//     outline: none;
//     background: linear-gradient(#ff6700, #ff6700),
//       linear-gradient(#ff6700, #ff6700), linear-gradient(#ff6700, #ff6700);
//     background-size: 1px 20%, 100% 1px, 1px 20%;
//     background-position: bottom left, bottom center, bottom right;
//     background-repeat: no-repeat;
//   }
// }

.store {
  :deep(.vs--open) {
    .vs__dropdown-toggle {
      padding: 10px;

      background: linear-gradient(#ff6700, #ff6700),
        linear-gradient(#ff6700, #ff6700), linear-gradient(#ff6700, #ff6700);
      background-size:
        1px 20%,
        100% 1px,
        1px 20%;
      background-position:
        bottom left,
        bottom center,
        bottom right;
      background-repeat: no-repeat;

      border: none;
    }
  }
  :deep(.vs__dropdown-toggle) {
    padding: 10px;

    background: linear-gradient(#000, #000), linear-gradient(#000, #000),
      linear-gradient(#000, #000);
    background-size:
      1px 20%,
      100% 1px,
      1px 20%;
    background-position:
      bottom left,
      bottom center,
      bottom right;
    background-repeat: no-repeat;

    border: none;
    border-radius: 0;
    // color: #999;
  }
}
</style>
