<template>
  <div class="min-h-screen">
    <h1 class="h1-title">
      Environment
    </h1>
    <ul class="px-14 mt-5 gap-y-5 flex flex-col">
      <li>
        <p>
          <span class="font-bold text-black">Node Js </span> versi 8 ke atas.
          Node harus di install sebelum meng-install lainnya
        </p>
        <div class="flex gap-x-5 mt-3">
          <a
            class="text-blue-500 hover:text-orange-500"
            href="https://nodejs.org/"
            >Install</a
          >
          <span>| </span>
          <a
            class="text-blue-500 hover:text-orange-500"
            href="https://nodejs.org/en/docs/"
            >Dokumentasi</a
          >
        </div>
      </li>
      <li>
        <p>
          <span class="font-bold text-black">Yeoman. </span>Jalankan perintah
          dibawah di command prompt.
        </p>
        <div class="flex gap-x-5 mt-3">
          <CodeBlock text="npm i -g yo" />
        </div>
      </li>
      <li>
        <p>
          <span class="font-bold text-black">Gulp. </span>Jalankan perintah
          dibawah di command prompt.
        </p>
        <div class="flex gap-x-5 mt-3">
          <CodeBlock text="npm i -g gulp-cli" />
        </div>
      </li>
      <li>
        <p>
          <span class="font-bold text-black">Git </span>
        </p>
        <div class="flex gap-x-5 mt-3">
          <a
            class="text-blue-500 hover:text-orange-500"
            href="https://git-scm.com"
            >Install</a
          >
          <span>| </span>
          <a
            class="text-blue-500 hover:text-orange-500"
            href="https://bazenuxt.netlify.app/getstarted#"
            >Pro Git (PDF)</a
          >
        </div>
      </li>
      <li>
        <p>
          <span class="font-bold text-black">Xampp </span>
        </p>
        <div class="flex gap-x-5 mt-3">
          <a
            class="text-blue-500 hover:text-orange-500"
            href="https://www.apachefriends.org/"
            >Install</a
          >
        </div>
      </li>
      <li>
        <p>
          <span class="font-bold text-black">Generator Baze. </span>Install
          generator baze (versi lama) atau generator baze nuxt (versi baru)
          dengan menjalankan perintah dibawah ini.
        </p>
        <div class="flex gap-x-5 my-5 flex-col gap-y-5">
          <CodeBlock text="npm install generator-baze -g" />
          <CodeBlock text="npm install generator-baze-nuxt -g" />
        </div>
        <p>Untuk install kedalam project frontend, jalankan</p>
        <div class="flex gap-x-5 my-5 flex-col gap-y-5">
          <CodeBlock text="yo baze" />
          <CodeBlock text="yo baze-nuxt" />
        </div>
      </li>
    </ul>
  </div>
</template>
<script setup>
definePageMeta({
  layout: 'custom'
})
</script>

<style scoped>
li {
  list-style-type: disc;
}
</style>
