<template>
  <div>
    <h1 class="h1-title">Bz Icons</h1>
    <main class="flex flex-col gap-y-5 mt-7">
      <section>
        <article class="flex flex-col gap-y-5">
          <h2>Smaller Icons</h2>
          <i class="bzi-notification bzi-0_5x"></i>
          <Block> {{ `<i class="bzi-notification bzi-0_5x"></i>` }} </Block>
        </article>
      </section>
      <section>
        <article class="flex flex-col gap-y-5">
          <h2>Normal Icons</h2>
          <i class="bzi-notification"></i>
          <Block> {{ `<i class="bzi-notification"></i>` }} </Block>
        </article>
      </section>
      <section>
        <article class="flex flex-col gap-y-5">
          <h2>Larger Icons</h2>
          <i class="bzi-notification bzi-2x"></i>
          <Block> {{ `<i class="bzi-notification bzi-2x"></i>` }} </Block>
        </article>
      </section>
      <section>
        <article class="flex flex-col gap-y-5">
          <h2>Mirror Icons</h2>
          <i class="bzi-notification bzi-180"></i>
          <Block> {{ `<i class="bzi-notification bzi-180"></i>` }} </Block>
        </article>
      </section>
    </main>
  </div>
</template>
<script setup>
definePageMeta({
  layout: 'custom'
})
</script>
<style lang="postcss" scoped>
h2 {
  @apply font-bold text-xl;
}
</style>
