<template>
  <div>
    <Header />
    <div class="container mx-auto">
      <div id="main-page" class="pt-28 pl-0 xl:pl-24 lg:pl-36">
        <slot />
        <br />
        <Footer />
      </div>
    </div>
  </div>
</template>

<style scoped>
#main-page {
  font-family: 'Open Sans', sans-serif !important;
}
</style>
