<template>
  <div>
    <h1 class="h1-title">Pagination</h1>
    <main class="flex flex-col gap-y-5 mt-7">
      <section>
        <div class="flex flex-col items-center">
          <ol ref="refPagination" class="pagination">
            <li><a class="is-active" href="#">1</a></li>
            <li><a href="#" disabled>2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li>
              <a href="#">5</a>
            </li>
          </ol>
        </div>
        <Block>
          <pre><code>{{`<ol class="pagination">
  <li><a href="#"><i class="fas fa-angle-left"></i></a></li>
  <li><a class="is-active" href="#">1</a></li>
  <li><a href="#" disabled>2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
</ol>` }}</code></pre>
        </Block>
      </section>
      <section>
        <h2>Left Pagination</h2>
        <div class="flex flex-col items-start">
          <ol ref="refPaginationLeft" class="pagination--left pagination">
            <li><a class="is-active" href="#">1</a></li>
            <li><a href="#" disabled>2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li>
              <a href="#">5</a>
            </li>
          </ol>
        </div>
        <h2></h2>
        <Block>
          <pre><code>{{ `<ol class="pagination--left">
  <li><a href="#"><i class="fas fa-angle-left"></i></a></li>
  <li><a class="is-active" href="#">1</a></li>
  <li><a href="#" disabled>2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
</ol>` }}</code></pre>
        </Block>
      </section>
      <section>
        <h2>Right Pagination</h2>
        <div class="flex flex-col items-end">
          <ol ref="refPaginationRight" class="pagination--right pagination">
            <li><a class="is-active" href="#">1</a></li>
            <li><a href="#" disabled>2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li>
              <a href="#">5</a>
            </li>
          </ol>
        </div>
        <Block>
          <pre><code>{{ `<ol class="pagination--right">
    <li><a href="#"><i class="fas fa-angle-left"></i></a></li>
    <li><a class="is-active" href="#">1</a></li>
    <li><a href="#" disabled>2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
</ol>` }}</code></pre>
        </Block>
      </section>
    </main>
  </div>
</template>
<script setup>
definePageMeta({
  layout: 'custom'
})

const refPagination = ref(null)
const refPaginationLeft = ref(null)
const refPaginationRight = ref(null)

function removeClass(inEl, arr) {
  arr.forEach(el => {
    if (el !== inEl) {
      el.firstChild.classList.remove('is-active')
    }
  })
}

function activateClass(refNode) {
  const arrLi = Array.from(refNode.value.children)
  arrLi.forEach(el => {
    el.addEventListener('click', () => {
      el.firstChild.classList.add('is-active')
      removeClass(el, arrLi)
    })
  })
}

onMounted(() => {
  activateClass(refPagination)
  activateClass(refPaginationLeft)
  activateClass(refPaginationRight)
})
</script>
<style scoped lang="postcss">
main section {
  @apply flex flex-col gap-y-3;
}

main section h2 {
  @apply text-orange-500 font-bold text-4xl;
}
.pagination {
  @apply flex gap-x-1;
}
.pagination li a {
  @apply px-4 py-2 bg-gray-300;
}
.pagination li a:hover {
  @apply text-red-500;
}

.pagination li a.is-active {
  @apply font-bold bg-gray-400;
}
</style>
