<template>
  <main class="container mx-auto min-h-[90vh] flex flex-col items-center">
    <div class="m-auto flex items-center flex-col gap-y-10">
      <NuxtImg src="/assets/img/site-logo.png" class="w-40" />
      <h1 class="lg:text-3xl md:text-2xl text-xl font-extralight tracking-wider text-center">
        A minimal setup for your frontend environment
      </h1>
      <div class="flex flex-col md:flex-row items-center gap-x-7 gap-y-5">
        <button
          class="lg:w-64 md:w-52 w-44 py-2 bg-orange-500 hover:bg-orange-700 border-2 border-transparent"
          @click="() => navigateTo('/getstarted')"
        >
          GET STARTED
        </button>
        <button
          class="lg:w-64 md:w-52 w-44 py-2 hover:bg-gray-200 hover:text-black border-2 border-gray-400"
        >
          <NuxtLink target="_blank" to="https://github.com/suitmedia/suit-baze">
            DOWNLOAD</NuxtLink
          >
        </button>
      </div>
    </div>
    <div class="flex mt-auto gap-x-5 flex-wrap text-center">
      <p>Version 1.3.2</p>
      <p>|</p>
      <p>Powered by: Suitmedia</p>
    </div>
  </main>
</template>

<script setup></script>
