<template>
  <div>
    <h1 class="h1-title">Text Color</h1>
    <div class="flex flex-col gap-y-5 mt-5">
      <p class="text-blue">Text class color = ".text-blue"</p>

      <p class="text-dark-grey">Text class color = ".text-dark-grey"</p>

      <p class="text-primary">Text class color = ".text-primary"</p>

      <p class="text-red">Text class color = ".text-red"</p>

      <p class="text-black">Text class color = ".text-black"</p>

      <p class="text-grey">Text class color = ".text-grey"</p>

      <p class="text-light-grey">Text class color = ".text-light-grey"</p>
    </div>
    <Block class="mt-5">
      <code>
        {{ `
        <p class="text-blue">Text class color = ".text-blue"</p>
        ` }}
      </code>

      <code>
        {{ `
        <p class="text-dark-grey">Text class color = ".text-dark-grey"</p>
        ` }}
      </code>

      <code>
        {{ `
        <p class="text-primary">Text class color = ".text-primary"</p>
        ` }}
      </code>

      <code>
        {{ `
        <p class="text-red">Text class color = ".text-red"</p>
        ` }}
      </code>

      <code>
        {{ `
        <p class="text-black">Text class color = ".text-black"</p>
        ` }}
      </code>

      <code>
        {{ `
        <p class="text-grey">Text class color = ".text-grey"</p>
        ` }}
      </code>

      <code>
        {{ `
        <p class="text-light-grey">Text class color = ".text-light-grey"</p>
        ` }}
      </code>
    </Block>

    <h1
      class="h1-title my-5"
    >
      Background Color
    </h1>
    <div class="flex flex-col gap-y-5">
      <p class="bg-blue">Background class color = ".bg-blue"</p>

      <p class="bg-dark-grey">Background class color = ".bg-dark-grey"</p>

      <p class="bg-primary">Background class color = ".bg-primary"</p>

      <p class="bg-red">Background class color = ".bg-red"</p>

      <p class="bg-black">Background class color = ".bg-black"</p>

      <p class="bg-grey">Background class color = ".bg-grey"</p>

      <p class="bg-light-grey">Background class color = ".bg-light-grey"</p>
    </div>
    <Block class="mt-5">
      <code>
        {{ `
        <p class="bg-blue">Background class color = ".bg-blue"</p>
        ` }}
      </code>

      <code
        >{{ `
        <p class="bg-dark-grey">Background class color = ".bg-dark-grey"</p>
        ` }}</code
      >

      <code
        >{{ `
        <p class="bg-primary">Background class color = ".bg-primary"</p>
        ` }}</code
      >

      <code
        >{{ `
        <p class="bg-red">Background class color = ".bg-red"</p>
        ` }}</code
      >

      <code
        >{{ `
        <p class="bg-black">Background class color = ".bg-black"</p>
        ` }}</code
      >

      <code
        >{{ `
        <p class="bg-grey">Background class color = ".bg-grey"</p>
        ` }}</code
      >

      <code
        >{{ `
        <p class="bg-light-grey">Background class color = ".bg-light-grey"</p>
        ` }}</code
      >
    </Block>
    <h1
      class="h1-title my-5"
    >
      Black Tones
    </h1>
    <div class="flex flex-col gap-y-5">
      <p class="text-black10">Black tone = ".text-black10" ($black10)</p>
      <p class="text-black20">Black tone = ".text-black20" ($black20)</p>
      <p class="text-black30">Black tone = ".text-black30" ($black30)</p>
      <p class="text-black40">Black tone = ".text-black40" ($black40)</p>
      <p class="text-black50">Black tone = ".text-black50" ($black50)</p>
      <p class="text-black60">Black tone = ".text-black60" ($black60)</p>
      <p class="text-black70">Black tone = ".text-black70" ($black70)</p>
      <p class="text-black80">Black tone = ".text-black80" ($black80)</p>
      <p class="text-black90">Black tone = ".text-black90" ($black90)</p>
      <p class="text-black">Black tone = ".text-black" ($black)</p>
    </div>
    <Block class="mt-5">
      <code>
        {{ `
        <p class="text-black10">Black tone = ".text-black10" ($black10)</p>
        ` }}
      </code>
      <code
        >{{ `
        <p class="text-black20">Black tone = ".text-black20" ($black20)</p>
        ` }}</code
      >
      <code
        >{{ `
        <p class="text-black30">Black tone = ".text-black30" ($black30)</p>
        ` }}</code
      >
      <code
        >{{ `
        <p class="text-black40">Black tone = ".text-black40" ($black40)</p>
        ` }}</code
      >
      <code
        >{{ `
        <p class="text-black50">Black tone = ".text-black50" ($black50)</p>
        ` }}</code
      >
      <code
        >{{ `
        <p class="text-black60">Black tone = ".text-black60" ($black60)</p>
        ` }}</code
      >
      <code
        >{{ `
        <p class="text-black70">Black tone = ".text-black70" ($black70)</p>
        ` }}</code
      >
      <code
        >{{ `
        <p class="text-black80">Black tone = ".text-black80" ($black80)</p>
        ` }}</code
      >
      <code
        >{{ `
        <p class="text-black90">Black tone = ".text-black90" ($black90)</p>
        ` }}</code
      >
      <code
        >{{ `
        <p class="text-black">Black tone = ".text-black" ($black)</p>
        ` }}</code
      >
    </Block>
    <h1
      class="h1-title my-5"
    >
      Link Color
    </h1>
    <p>Link color = <a class="link-blue" href="#">".link-blue"</a></p>
    <p>Link color = <a class="link-dark-grey" href="#">".link-dark-grey"</a></p>
    <p>Link color = <a class="link-primary" href="#">".link-blue"</a></p>
    <p>Link color = <a class="link-red" href="#">".link-red"</a></p>
    <p>Link color = <a class="link-black" href="#">".link-black"</a></p>
    <p>Link color = <a class="link-grey" href="#">".link-grey"</a></p>
    <p>
      Link color = <a class="link-light-grey" href="#">".link-light-grey"</a>
    </p>
    <Block class="mt-5">
      <code
        >{{ `
        <p>Link color = <a class="link-blue" href="#">".link-blue"</a></p>
        ` }}</code
      >
      <code
        >{{ `
        <p>
          Link color = <a class="link-dark-grey" href="#">".link-dark-grey"</a>
        </p>
        ` }}</code
      >
      <code
        >{{ `
        <p>Link color = <a class="link-primary" href="#">".link-blue"</a></p>
        ` }}</code
      >
      <code
        >{{ `
        <p>Link color = <a class="link-red" href="#">".link-red"</a></p>
        ` }}</code
      >
      <code
        >{{ `
        <p>Link color = <a class="link-black" href="#">".link-black"</a></p>
        ` }}</code
      >
      <code
        >{{ `
        <p>Link color = <a class="link-grey" href="#">".link-grey"</a></p>
        ` }}</code
      >
      <code
        >{{ `
        <p>
          Link color =
          <a class="link-light-grey" href="#">".link-light-grey"</a>
        </p>
        ` }}</code
      >
    </Block>
  </div>
</template>
<script setup>
definePageMeta({
  layout: 'custom'
})
</script>

<style>
code {
  display: block;
  font-weight: 100;
}
</style>
